# Docker (Supabase local)
SUPABASE_DB_PASSWORD=
SUPABASE_JWT_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Frontend
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Backend
SUPABASE_URL=http://localhost:54321
